
Client/LightenceClient/.vs/LightenceClient/DesignTimeBuild/.dtbcache.v2
*.v2

Client/LightenceClient/.vs/LightenceClient/DesignTimeBuild/.dtbcache.v2
Client/LightenceClient/.vs/LightenceClient/v16/TestStore/0/000.testlog
Client/LightenceClient/.vs/LightenceClient/v16/TestStore/0/testlog.manifest
Server/LightenceServer/.vscode/iisexpress.json
Server/LightenceServer/.vscode/launch.json
Server/LightenceServer/.vscode/tasks.json
