<!DOCTYPE html>
<html>
    
<head>
    <title>SigmaCore | Main</title>
    <meta charset="UTF-8">
    <meta name="author" content="Marcin Złotek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div style="background-color: #005060; width: 100%;">
        <div class="header" >
            <div class="head_logo">
                <img src="SigmaCore.svg" alt="SigmaCore Logo" height="120pt" > 
            </div><!--
            --><div class="head_text">
            <p></p>
            </div>
        </div>
    </div>
    <div style="width: 100%; border-bottom: 3pt solid #005060; ">
        <div class="links">
            <ul class="menu">
                <li class="current">
                    <a href="index.html">Start</a>
                </li>
                <li>
                    <a href="dev.html">Dev</a>
                </li>
                <li>
                    <a href="dev.html">E-sport</a>
                </li>
                <li>
                    <a href="projekty.html">Projekty</a>
                </li>
                <li>
                    <a href="dev.html">Dokumentacja</a>
                </li>
                <li>
                    <a href="dev.html">Kariera</a>
                </li>
                <li>
                    <a href="dev.html">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main ">
        <div class="main_content important">
            <div class="main_content_text full">
                <h3 style="background:  linear-gradient(to right, #00b0ff, #00ff80);
                                        background-clip: text;
                                        -webkit-text-fill-color: transparent; width: 115pt; padding-right: 0;">Sigma Core</h3>
                <p>
                    SigmaCore jest nowoczesną firmą dostarczającą najwyżeszj jakości usługi z zakresu systemów czasu rzeczywistego.
                    Oprócz segemntu deweloperskiego, posiadamy również swój zespół e-sportowy.
                </p>
            </div>
        </div>
        <div class="main_content reverse">
            <div class="main_content_text full">
                <h3>Dev</h3>
                <p>
                    SigmaCore jest nowoczesną firmą dostarczającą najwyżeszj jakości usługi z zakresu systemów czasu rzeczywistego.
                </p>
            </div>
        </div>
        <div class="main_content">
            <div class="main_content_text full">
                <h3>E-sport</h3>
                <p>
                    Nasze drużyny grają w takie gry jak CSGO czy Crysis 3. 
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_tab">
            <div class="horizontal footer_menu" >
                <p class="standard">E-sport</p>
                <ul>
                    <li>Crysis 3</li>
                    <li>CS:GO</li>
                    <li>Pasjans</li>
                </ul>
            </div><!--
            --><div class="horizontal footer_menu" >
                <p class="standard">Projects</p>
                <ul>
                    <li>Lightence</li>
                    <li>CUDA</li>
                    <li>Download</li>
                </ul>
            </div><!--
            --><div class="horizontal footer_menu" >
                <p class="standard">About</p>
                <ul>
                    <li>About Us</li>
                    <li>Contact</li>
                    <li>Documentation</li>
                </ul>
            </div>
        </div>
        <div style="text-align: center; padding-top: 10pt;padding-bottom: 10pt; background-color: #005060;">
            <p style="color: white;">Copyright by SigmaCore<sup>&reg</sup>, 2020</p>
        </div>
    </div>

</body>

</html>