@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Logout";
}

    <h2>
        Succesfully logged out
    </h2>
    <div style="display:flex;justify-content:center; flex-direction:row">
        <div class="button">
            <a href="/Admin/Login">Log in again</a>
        </div>
    </div>
    