@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["title"] = "Reset Password";
    @model LightenceServer.Models.ResetPasswordModel;
}

<h2> Admin Panel - Login </h2>

<div class="form_unit">
    @using (@Html.BeginForm("ConfirmResetPassword", "Identity", FormMethod.Post))
    {
        <div class="form_element">
            @Html.PasswordFor(model => model.NewPassword, new { Placeholder = "password", Class = "text_input" })
        </div>
        <div class="form_element">
            @Html.HiddenFor(model => model.UserName, new { Class = "text_input" })
        </div>
        <div class="form_element">
            @Html.HiddenFor(model => model.Token, new { Class = "text_input" })
        </div>
        <div class="form_element">
            <input type="submit" value="Reset" class="submit" />
        </div>
    }
</div>

